@use '../../helpers/function' as *;


// .faq {
//   position: relative;
//   z-index: 1;
//   padding-top: fluid-1024(100, 150);
//   background: radial-gradient(circle, #411B10 0%, #160201 100%);

// //   &::before {
// //     position: absolute;
// //     content: "";
// //     bottom: -50%;
// //     right: 0;
// //     width: fluid-1024(150, 250);
// //     height: 100%;
// //     z-index: -1;
// //     background: url("../../../public/globals/Elipse2.png");
// //     background-repeat: no-repeat;
// //   }
// }

.faq__content {
   z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__card {
  display: flex;
  flex-direction: column;
  gap: fluid-360(10, 18);
  margin-top: fluid-360(25, 50);
}

.faq__card-body {
  display: flex;
  align-items: center;
  background: rgba(33, 20, 15, 0.9);
  position: relative;
  border-radius: fluid-360(16, 30);
  padding: fluid-360(16, 30) fluid-360(16, 40);
  width: fluid-1024(975, 1580);
  height: fluid-1024(82, 91);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; // толщина бордера
    border-radius: inherit;

    background: linear-gradient(
                    135deg,
                    #FAE5B6 0%,
                    #F1C17E 100%
    );

    -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  label {
    width: 100%;
    height: 100%;
  }
}

.faq__card-arrow {
  background-repeat: no-repeat;
  width: fluid-360(10, 20);
  height: fluid-360(6, 12);
  background-image: url("../../../public/globals/arrow.svg");
  background-size: cover;
  position: absolute;
  right: fluid-360(16, 40);
  top: fluid-360(28, 40);
  pointer-events: none;
}

.faq__card-title {
  font-weight: 700;
  font-size: fluid-1024(20, 28);
  text-transform: uppercase;
}

.faq__card-text {
  font-family: "Circe-Regular", sans-serif;
  display: none;
  margin-top: 20px;
  font-weight: 400;
  font-size: fluid-360(13, 20);
}
.faq__card-text a{
  text-decoration: underline!important;
}
input[type="radio"] {
  display: none;
}

.faq__card-body:has(input[type="radio"]:checked) {
  height: auto;
}

.faq__card-body:has(input[type="radio"]:checked) .faq__card-arrow {
  //background-image: url("./images/arrow-dark.svg");
}

.faq__card-body:has(input[type="radio"]:checked) .faq__card-text {
  display: block;
}


@media screen and (max-width: 1023px) {
  .faq {
    padding-top: fluid-360(60, 100);
    &__card {
      &-title {
        font-size: fluid-360(14, 20);
      }

      &-body {
        height: fluid-360(62, 84);
        width: fluid-360(320, 975);
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .faq::before {
    background: none;
  }
}